body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

h1 {
  font-size: 18px;
  text-align: center;
}

.container {
  width: 150px;
  border: 1px solid grey;
  display: inline-flex;
}

.box {
  background-color: dodgerblue;
  height: 75px;
  width: 75px;
  border: 1px solid turquoise;
}

