<div class="d-flex align-items-center justify-content-center">
    <h1 class="mt-4">Tweet Planner</h1>
</div>

<%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary"%>