body {
  font-family: 'Roboto Mono', monospace;
}

h2 {
  text-align: center;
  font-size: 18px;
}

.main {
  background-color: lightgrey;
  width: 400px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 300px;
  height: 300px;
  background-color: dodgerblue;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.child {
  height: 75px;
  width: 75px;
  background-color: whitesmoke;
  border: 1px solid snow;
  display: flex;
  justify-content: center;
  align-items: center;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: dodgerblue;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

