body {
  border: 0;
  margin: 0 15px;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  text-align: center;
  display: block;
  font-size: 18px;
}

.container {
  height: 150px;
  width: 100%;
  display: flex;
  background-color: whitesmoke;
}

.side,
.center {
  height: 75px;
  background-color: dodgerblue;
  border: 1px solid lightgrey;
  display: inline-block;
}

#top .side {
	flex: 2 2 100px;
}

#top .center {
  flex: 1 3 50px;
}

#bottom .side {
  flex: 1 2 75px;
}

#bottom .center {
  flex: 2 1 100px;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: dodgerblue;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

