body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 18px;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-align: center;
}

.container {
  background-color: whitesmoke;
}

.box {
  background-color: dodgerblue;
  height: 100px;
  width: 100px;
  border: 1px solid lightgrey;
}

#flex {
  display: flex;
}
