body {
  margin: 0;
  border: 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 18px;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-align: center;
}

.container {
  background-color: whitesmoke;
}

.box {
  background-color: dodgerblue;
  height: 100px;
  width: 100px;
  border: 1px solid lightgrey;
}

#flex {
  display: flex;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: dodgerblue;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

